{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h2>Détails playlist :</h2>
    {% include 'pages/admin/admin.playlists.form.html.twig' %}
    {% if playlist.formationsCount > 0 %}
        <h2>Formations de la playlist :</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-left align-top" scope="col">
                        formations
                    </th>
                    <th class="text-left align-top" scope="col">
                        catégories
                    </th>
                    <th class="text-center align-top" scope="col">
                        date de publication
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for formation in formations %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ formation.title }}
                        </h5>
                    </td>
                    <td class="text-left">
                        {% for categorie in formation.categories %}
                            {{ categorie.name }}<br />
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {{ formation.publishedatstring }}
                    </td>
                    <td class="text-center">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}" alt="Miniature formation">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block title %}
    Édition d'une playlist
{% endblock %}